
block vars
    - var title = "Home"

doctype html
html(lang='en' )
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Sitename | #{title}
        // Bootstrap core CSS
        link(href='../css/bootstrap.min.css', rel='stylesheet')
        
        link(rel="stylesheet", href="../../css/font-awesome.min.css")
        link(href='../css/home_page.css', rel="stylesheet")
    //
        NAVBAR
        ==================================================
    body#frontPage
        nav#homepage-nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Sitename.com
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/') Home
                        li
                            a(href='#about') About
                        li
                            a(href='/technicians') Technnicians
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Services 
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider(role='separator')
                                li.dropdown-header Nav header
                                li
                                    a(href='#') Separated link
                                li
                                    a(href='#') One more separated link
                    
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/user/login') Login
                        li
                            a(href='/user/register') Register
        //
            Carousel
            ==================================================
        #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner(role='listbox')
                .item.active
                    img.first-slide(src='../images/technician_pictures/Hero Image 1800 x 1000.jpg', alt='First slide')
                    .container
                        .carousel-caption
                            h1 Possibilities
                            p.showcase-paragraph
                                | With our host of highly skilled and experienced technology Progessionals, Even the impossible is possible.
                            p
                                a.btn.btn-lg.btn-default.showcase-btn(href='/user/register', role='button') Have Your Need Met
                .item
                    img.second-slide(src='../images/technician_pictures/Background for YouTube Video.jpg', alt='Second slide')
                    .container
                        .carousel-caption
                            h1 Wide Range of Progessionals.
                            p.showcase-paragraph
                                | A home of thousands of professional and experienced technicians, you surely find one to meet your needs.
                            p
                                a.btn.btn-lg.btn-default.showcase-btn(href='/user/register', role='button') Get Started
                .item
                    img.third-slide(src='../images/front-end/1.jpg', alt='Third slide')
                    .container
                        .carousel-caption
                            h1 Fast and Convienient.
                            p.showcase-paragraph
                                | Get your problems solved, your work done and your tech service needs render without you leaving your home.
                            p
                                a.btn.btn-lg.btn-default.showcase-btn(href='/user/register', role='button') Meet Them
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
        // /.carousel
        //
            Marketing messaging and featurettes
            ==================================================
        // Wrap the rest of the page in another container to center all the content.
        .container-fliud.marketing
            // Three columns of text below the carousel
            .container
                .row.text-center.services
                    .col-lg-12.col-md-12.col-sm-12.text-center
                        h2#shift FEATURED SERVICES
                .row.text-center
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style="height: 200px;")
                        .circle-bordered
                            i.fa.fa-laptop
                        h4 Web Development
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style="height: 200px;")
                        strong.circle-bordered
                            i.fa.fa-apple
                        h4 iOS Development
                
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style="height: 200px;")
                        strong.circle-bordered
                            i.fa.fa-android
                        h4 Android Development
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style="height: 200px;")
                        strong.circle-bordered
                            i.fa.fa-sitemap
                        h4 Networking
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style="height: 200px;")
                        strong.circle-bordered
                            i.fa.fa-upload
                        h4 System Upgrade
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style="height: 200px;")
                        strong.circle-bordered
                            i.fa.fa-microchip
                        h4 Computer Engineering
                .row#service-btn
                    .col-lg-12.col-md-12.col-sm-12.text-center
                        a.btn.btn-lg(href="/user/register") Hire A Pro
                    // /.col-lg-4
                // /.row
            
            .row
                .col-lg-12.col-md-12.col-sm-12.text-center
                        h2#testimonies TESTIMONIES
            #testimonyCarousel.carousel.slide.parallax(data-ride='carousel', data-interval="3000")
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#testimonyCarousel', data-slide-to='0')
                    li(data-target='#testimonyCarousel', data-slide-to='1')
                    li(data-target='#testimonyCarousel', data-slide-to='2')
                .carousel-inner(role='listbox')
                    .item.active
                        .first-slide.text-center
                            p.showcase-paragraph
                                | This is place is realy cool...
                            p
                                em(style="color: lightgray") Jovins Inc.
                                
                    .item
                        .second-slide.text-center
                            p.showcase-paragraph
                                | These guys save us from huge technical cost, Thanks...
                            p
                                em(style="color: lightgray") MTN Nigeria
                                
                    .item
                        .third-slide.text-center
                            p.showcase-paragraph
                                | These platform took so much worries and stress from me, got our systems fixed in no time.
                            p
                                em(style="color: lightgray") Swif
                                
                a.left.carousel-control(href='#testimonyCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#testimonyCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
            // START THE FEATURETTES
            
            .row.featurette#about
                .container
                    .col-md-7.col-sm-7
                        h2.featurette-heading.text-center
                            | ABOUT US
            
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    .col-md-5.col-sm-5
                        img.featurette-image.img-responsive.center-block(src='../images/technician_pictures/Blog 1 (Feature) 1165 x 665.jpg', alt='Generic placeholder image')


            .row.featurette#feature_middle
                .container
                    .col-md-7.col-md-push-5.col-sm-7.col-sm-push-5
                        h2.featurette-heading.text-center
                            | THE TECHNICIANS
        
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    .col-md-5.col-md-pull-7.col-sm-5.col-sm-pull-7
                        img.featurette-image.img-responsive.center-block(src='../images/technician_pictures/Blog 1 Body Image (1165 x 665).jpg', alt='Generic placeholder image')
            

            .row.featurette
                .container
                    .col-md-7.col-sm-7
                        h2.featurette-heading.text-center
                            | WHAT WE DO
 
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    .col-md-5.col-sm-5
                        img.featurette-image.img-responsive.center-block(src='../images/technician_pictures/camels.jpg', alt='Generic placeholder image')
             
             .row.featurette#feature_middle
                .container
                    .col-md-7.col-md-push-5.col-sm-7.col-sm-push-5
                        h2.featurette-heading.text-center
                            | WHAT WE DON'T DO
        
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    .col-md-5.col-md-pull-7.col-sm-5.col-sm-pull-7
                        img.featurette-image.img-responsive.center-block(src='../images/technician_pictures/Blog 1 Body Image (1165 x 665).jpg', alt='Generic placeholder image')
            
            .row#service-btn(style="margin-top: 50px;")
                .col-lg-12.col-md-12.col-sm-12.text-center
                    a.btn.btn-lg(href="/user/register") Get Started
            // /END THE FEATURETTES
            // FOOTER
            
            footer.green-bg#footer
                .container
                    p.pull-right
                        a(href='#')
                            i.fa.fa-arrow-up.fa-lg.fa-fw
                            | Back to top
                    p.text-center
                        | © 2017 Company, Inc. · 
                        a(href='#') Privacy
                        |  · 
                        a(href='#') Terms
        // /.container
        //
            Bootstrap core JavaScript
            ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='../js/jquery.min.js')
        script(src='../js/bootstrap.min.js')











        